 .header {
   display: inline;
 }
 .footer {
   position: sticky;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: #3B54A6;
   color: white;

 }
 .social-media, .newsletter, .contact-us {


 }
 h2 {
   text-align: center;
   padding-left: 50px;
   padding-right: 20px;
   font-family: 'Cabin', sans-serif;


 }
 ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: absolute;
    top: 330px;
    width: 100%;
    font-family: 'Cabin', sans-serif;

}

li {
    float: left;
    padding-left: 70px;
    padding-right: 50px;
    font-family: 'Cabin', sans-serif;
  }

li a {
    display: block;
    font-family: 'Cabin', sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a.active {
  text-decoration: none !important;
  background-color: #a68d3b;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

li a:hover:not(active){
  text-decoration: none !important;
  background-color: white;
  color: #a68d3b;
}

h1{
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Cabin', sans-serif;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


#space{margin-bottom: 40px;}

.testimonials {
padding-left: 150px;
align-items: center;
}

h5 {
text-align: center;
padding-right: 100px;
font-family: 'Cabin', sans-serif;
}

.form {
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px

}

.submitbutton {
  text-align: center;
  padding-right: 100px;
}

h6 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;

}
.modalimage {
  padding-left: 150px;
}

.modal-title {
  text-align: center;
}



.mission, .what-do,{
  font-size: 15px;
  text-align: center;
  font-style: bold;
}

.sub-mission, .sub-what-do,{
  font-size: 10px;
}

.info {
  padding-top: 20px;
  font-size: 15px;
  font-style: bold;
  text-align: center;
}
.info-second{
  text-align: center;
}
.form-inline{
  padding-top: 10px;
  padding-bottom: 15px;
}

p{
  font-family: 'Old Standard TT', serif;
  text-align: center;
  font-size: 15px;
}

.about{
  padding-left: 250px;
  padding-bottom: 70px;
}

.col-sm-8{
  padding-top: 20px;
  padding-right: 300px;
}

.home{
padding-top: 50px;
}
.newsletter{
  text-align: center;
}
.nws{
  padding-left: 22px;
}
.social-media {
  text-align: center;
  padding-left: 15px;
}
.contact-us{
  text-align: center;
}

hr{
  display: block;
  height: 10px;
  border-top: 1px solid black;
  padding: 30px;
}
.artist{
  padding-top: 30px;
}

.btn-default{

    background-color: white ;
    border-color: white;

}

.btn{
color: black;
}

.btn-lg{
    background-color: white;
    border color: white;
}

.btn:hover{
    color: white ;
    background-color: #a68d3b;
    border-color: white;

}


.btns{
    color: black;
    font-family: 'Cabin', sans-serif;
    align-items: center;
}

h8 {
  padding-left: 30px;
}
